@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,700;1,900&display=swap');

.container {
	/* border: 2px solid black; */
}

.container-fluid {
	/* border: 2px solid black; */
}

.navbar {
	background-color: white !important;
	display: flex;
}

.collapse {
	display: flex;
}

#navbar1 {
	color: #4BC2C5;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
}

span {
	color: black;
}

#navbar2,
#navbar3 {
	font-size: 18px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
}

li {
	padding: 0 10px 0 10px;
	margin-left: 10px;
}

#a-item {
	color: black;
}

#SignUp {
	border: 0.5px solid black;
	border-radius: 5px;
}

/* section1 */
#section1 {
	margin-top: 5%;
}

h2 {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	letter-spacing: 0.02em;
	margin-left: 5%;
	margin-top: 15%;
}

p {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.02em;
	margin-left: 5%;
}

#orang {
	display: flex;
	/* position: absolute; */
	width: 100%;
	height: auto;
}

#vector1 {
	/* display: flex; */
	position: absolute;
	/* visibility: 1; */
	transform: translate(0%, 18%);
}

/* section2 */

#section2 {
	padding-top: 15%;
}

h1 {
	margin-bottom: 3%;
}

#kolom1 {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 1em 2em 1em 2em;
}

.col-md-6 {
	/* border: 2px solid black; */
	padding: 1em;
}

.text-center {
	/* background-color: blue; */
	border: 2px solid black;
	border-radius: 10px;
}
