<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/application/assets/css/styles.css">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>

<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand col-md6" id="navbar1" href="#">Telyu<span>Pharmacy</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto mt-2" id="navbar2">
					<li class="nav-item">
						<a class="nav-link" id="a-item" href="#"><i class="fa fa-search" aria-hidden="true"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="a-item" href="#">Product</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="a-item" href="#">Article</a>
					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
				<ul class="navbar-nav mt-2" id="navbar3">
					<li class="nav-item">
						<a class="nav-link" id="a-item" href="#">Sign In</a>
					</li>
					<li class="nav-item" id="SignUp">
						<a class="nav-link" id="a-item" href="#">Sign Up</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- section1 -->
		<div class="container-fluid-0" id="section1">
			<div class="row">
				<div class="col-lg-6">
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscieng elit</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae qui repellendus voluptates
						rerum
						ea
						ducimus reiciendis nisi quae perspiciatis quas inventore architecto, iste commodi dignissimos
						nostrum
						dolorum placeat libero vel.</p>
				</div>
				<div class="col-lg-6">
					<img id="orang" src="/application/assets/image/undraw_medicine_b1ol.png" alt="">
				</div>
				<div id="vector1">
					<img src="/application/assets/image/Vector.png" alt="">
				</div>
			</div>
		</div>

		<!-- section2 -->
		<div class="container-fluid-0" id="section2">
			<div class="container" id="kolom1">
				<h1>Promotion</h1>
				<div class="row">
					<div class="col-md-6">
						<div class="text-center">
							<img src="" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="text-center">
							<img src="" alt="">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="text-center">
							<img src="" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="text-center">
							<img src="" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>








	</div>
</body>

</html>
