<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/Product.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
	<div class="container-fluid-0">
		<div class="container-fluid" id="section0">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="Home.html">Telyu<span id="Pharmacy">Pharmacy</span></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<i class="fa fa-search" aria-hidden="true"></i>
					<!-- <form class="form-inline"> -->
					<input id="search" class="form-control mr-sm-2" type="search" placeholder="Search"
						aria-label="Search">
					<!-- </form> -->
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">Product</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Article</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About Us</a>
						</li>
					</ul>
					<form class="form-inline">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						<img src="/assets/image/kirito.jpg" class="rounded-circle d-block" />
					</form>
				</div>
			</nav>
		</div>
		<div class="container-fluid" id="section1">

		</div>
		<div class="container-fluid" id="section2">
			<div class="row">
				<div class="col-md-2" id="form">
					<h1 id="tittle-section2">Search for more details</h1>
					<div class="card">
						<h6>Price Range</h6>

						<form>
							<div class="form-row align-items-center">
								<div class="col-auto">
									<label class="sr-only" for="inlineFormInputGroup">Username</label>
									<div class="input-group" id="min">
										<div class="input-group-prepend">
											<div class="input-group-text">Rp.</div>
										</div>
										<input id="price" type="text" class="form-control" id="inlineFormInputGroup"
											placeholder="Minimum price">
									</div>
								</div>
							</div>
						</form>
						<form>
							<div class="form-row align-items-center">
								<div class="col-auto">
									<label class="sr-only" for="inlineFormInputGroup">Username</label>
									<div class="input-group" id="min">
										<div class="input-group-prepend">
											<div class="input-group-text">Rp.</div>
										</div>
										<input id="price" type="text" class="form-control" id="inlineFormInputGroup"
											placeholder="Maximum price">
									</div>
								</div>
							</div>
						</form>

					</div>
					</form>
				</div>
				<div class="col-md-2">
					<div class="card">
						<img src="/assets/image/kirito.jpg" alt="" class="img-fluid">
						<div class="card-block">
							<div class="card-title">
								<h5><a id="label-section-3">Mylanta</a></h5>
							</div>
							<div class="card-text">
								<div class="harga">Rp</div>
								<div class="rating">rating</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card">
						<img src="/assets/image/kirito.jpg" alt="" class="img-fluid">
						<div class="card-block">
							<div class="card-title">
								<h5><a id="label-section-3">Mylanta</a></h5>
							</div>
							<div class="card-text">
								<div class="harga">Rp</div>
								<div class="rating">rating</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card">
						<img src="/assets/image/kirito.jpg" alt="" class="img-fluid">
						<div class="card-block">
							<div class="card-title">
								<h5><a id="label-section-3">Mylanta</a></h5>
							</div>
							<div class="card-text">
								<div class="harga">Rp</div>
								<div class="rating">rating</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card">
						<img src="/assets/image/kirito.jpg" alt="" class="img-fluid">
						<div class="card-block">
							<div class="card-title">
								<h5><a id="label-section-3">Mylanta</a></h5>
							</div>
							<div class="card-text">
								<div class="harga">Rp</div>
								<div class="rating">rating</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card">
						<img src="/assets/image/kirito.jpg" alt="" class="img-fluid">
						<div class="card-block">
							<div class="card-title">
								<h5><a id="label-section-3">Mylanta</a></h5>
							</div>
							<div class="card-text">
								<div class="harga">Rp</div>
								<div class="rating">rating</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>




		<!-- secction5 -->
		<div class="container-fluid" id="section5">
			<div class="container-fluid" id="section5-1">
				<div class="row">
					<div class="col-md-4">
						<span id="Telyu">Telyu</span>
						<span id="Pharmacy">Pharmacy</span>
						<br>
						<span id="create">Creating Your healty,</span>
						<br>
						<span id="create">For Yout Future</span>
						<br>
						<br>
						<br>
						<br>
						<br>
						<p id="copyright">2020 TelyuPharmacy. All Rights Reserved</p>
					</div>
					<div class="col-md-2">
						<ul class="navbar-nav">
							<li id="section5-li">
								<span id="section5-header">Explore</span>
							</li>
							<li>
								<a class="nav-link" id="copyright" href="#">Home</a>
							</li>
							<li>
								<a class="nav-link" id="copyright" href="#">Product</a>
							</li>
							<li>
								<a class="nav-link" id="copyright" href="#">Article</a>
							</li>
							<li>
								<a class="nav-link" id="copyright" href="#">About Us</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="navbar-nav">
							<li id="section5-2-li">
								<span id="section5-header">Visit</span>
							<li>
							<li <span id="copyright">TelyuPharmacy</span>
								<span id="copyright">Jl Telekomunikasi, Sukapura, Kec.Dayeuhklot,</span>
								<span id="copyright">Bandung, Jawa Barat</span><br>
								<span id="copyright">40257</span>
							</li>
							<li>
								<a id="section5-header">New Business</a>
							</li>
							<li>
								<span id="copyright">telyupharmacy@gmail.com</span><br>
								<span id="copyright">+62 227 565 930</span>
							</li>
						</ul>
					</div>
					<div class="col-md-2">
						<ul class="navbar-nav">
							<li id="section5-li">
								<span id="section5-header">Follow</span>
							</li>
							<li>
								<a class="nav-link" id="copyright" href="#">Instagram</a>
							</li>
							<li>
								<a class="nav-link" id="copyright" href="#">Facebook</a>
							</li>
							<li>
								<a class="nav-link" id="copyright" href="#">Twitter</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
