@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

/* sign in */

#SignIn {
	align-self: center;
}

.bg-modal {
	align-items: center;
	justify-content: center;
}

.modal-content {
	position: absolute;
	width: 320px;
	height: 429px;
	background: #ffffff;
	border-radius: 10px;
	transform: translate(30%, 30%);
}

#tittle-sign {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #9c9c9c;
	margin-top: 5%;
}

#Telyu {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: #4bc2c5;
	margin-top: 3%;
}

.form-group input {
	width: 230px;
	height: 44px;
	border: 1px solid #8f8f8f;
	box-sizing: border-box;
	margin-left: 13%;
	margin-top: 5%;
}

#forgot {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	color: #000000;
}

#click {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	color: #4bc2c5;
	cursor: pointer;
	text-decoration: none;
}

#click:hover {
	color: grey;
}

#btn-Sign-In,
#btn-close-modal {
	width: 230px;
	height: 44px;
	background: #4bc2c5 !important;
	border-radius: 10px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 5%;
	color: #ffffff;
}

/* section0 */

#section0 {
	margin-top: 15px;
}

.navbar {
	background-color: white !important;
}

.nav-link:hover {
	color: #4bc2c5 !important;
}

.collapse {
	display: flex;
}

#Telyu-navbar {
	color: #4bc2c5;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	margin: 0;
	padding: 0;
}

#Pharmacy-navbar {
	font-family: Nunito Sans;
	font-style: normal;
	font-size: 24px;
	font-weight: lighter;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: black;
	margin: 0;
}

#navbar2,
#navbar3 {
	font-size: 18px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
}

.nav-item {
	padding: 0 10px 0 10px;
	margin-left: 10px;
}

#a-item {
	color: black;
}

#SignUp {
	border: 0.5px solid black;
	border-radius: 5px;
}

/* section1 */

#section1 {
	background: #ffffff;
	width: 95%;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	margin-top: 5%;
	position: relative;
	margin-bottom: 5%;
}

#tittle {
	padding-top: 3%;
	margin-left: 3%;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #4bc2c5;
}

#team {
	margin-top: 1%;
	justify-content: space-around;
}

.card {
	border: none;
	margin-top: 2%;
}

#team-photo {
	width: 150px;
	height: 150px;
}

#nama {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	margin-top: 7%;
}

#nim {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #9d9cb5;
	margin-top: 2%;
}

/* section2 */
#section2 {
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	width: 95%;
	padding-bottom: 5%;
	margin-left: 2.5%;
}

#margin ol {
	margin-top: 2%;
	margin-left: 3%;
}

#margin ul {
	margin-top: 2%;
	margin-bottom: 2%;
}

#margin li {
	margin-top: 1%;
	margin-bottom: 1%;
	color: #4bc2c5;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
}

#margin ol li ul li {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: #4bc2c5;
	list-style-type: disc;
}

#margin span {
	color: black;
}

#faq-table {
	margin: 30px 15px 30px 15px;
}

#faq-table th {
	color: #4bc2c5;
	border-bottom: 0;
}

#orang {
	width: 100%;
	position: absolute;
	top: 20%;
	display: flex;
}

/* section3 */
#section3 {
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	width: 95%;
	padding-bottom: 5%;
	margin-left: 2.5%;
	margin-bottom: 5%;
}

#section3 p {
	margin-top: 1%;
	margin-left: 3%;
	margin-right: 3%;
}

/* section5 */

#section5 {
	background: #379194;
	padding: 0;
	margin: 0;
	margin-top: 12%;
	margin-bottom: 0;
	padding-bottom: 5%;
}

#section5-1 {
	width: 90%;
	padding-top: 3%;
}

#section5 #Telyu {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 0.02em;
	color: #78fcff;
}

#section5 #Pharmacy {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 0.02em;
	color: white !important;
}

#copyright {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #ffffff;
}

#section5-header {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-bottom: 5%;
}

#section5-li {
	padding-bottom: 5%;
}

#section5-2-li {
	padding-bottom: 4%;
}

#create {
	font-family: Nunito Sans;
	font-style: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: #ffffff;
}

@media screen and (max-width: 767px) {
	#orang {
		display: none;
	}
}
