@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

/* section1 */

#section1 {
	margin-top: 2%;
}

.title {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 19px;
	margin: 30px 0;
}

.card {
	width: 200px;
	border-radius: 10px;
	margin-top: 2%;
	margin-bottom: 2%;
}

.img-fluid {
	width: 200px;
	height: 150px;
}

.card-text,
.card-title {
	margin-left: 5%;
}

.card-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	color: #4bc2c5;
	padding-bottom: 5%;
}

.card-title {
	padding-top: 5%;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 19px;
	letter-spacing: 0.02em;
}

.button-group {
	margin-top: 2%;
}

#section1 h3 {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
}

#section1 h4 {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
}

#section1 .total {
	margin-top: 2%;
	font-weight: bold;
}

#section1 .info {
	margin-top: 2%;
}

.box {
	padding: 1em;
}

#section1 .col-md-2,
#section1 .col-md-4 {
	border-bottom: 1px solid #ababab;
}

#total .col-md-4 {
	border-bottom: none;
}
