@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

/* universal */

.container-fluid-0 {
	position: relative;
}

/* section0 */

#section0 {
	width: 100%;
}

.link-product {
	border-bottom: 2px solid black;
}

#navbarSupportedContent {
	margin-top: 1%;
	z-index: 20;
}

.navbar {
	background: white !important;
}

#a-item {
	color: black;
}

.collapse {
	display: flex;
}

.nav-link:hover {
	color: #4bc2c5 !important;
}

.navbar-brand {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: #4bc2c5 !important;
}

#Pharmacy {
	color: black !important;
	font-weight: normal;
	font-family: Nunito Sans;
}

#search {
	background: #ededed;
	border-radius: 8px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #ababab;
}

#icon {
	border: none;
}

.input-group-btn {
	margin-top: 2px;
	margin-left: 2%;
}

#icon:hover {
	background-color: white !important;
}

.fa-search {
	cursor: pointer;
	color: black;
}

#section0 ul {
	margin-left: 2%;
}

.nav-item a {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
}

.rounded-circle {
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.fa-shopping-cart {
	transform: translate(-200%, 0%);
	color: #ababab;
	cursor: pointer;
}

/* section1 */

#section1 {
	margin-top: 3%;
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	position: relative;
	width: 60%;
	padding: 3em;
}

#section1 .tittle {
	margin-top: 3%;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: #000000;
}

#section1 img {
	width: 88px;
	height: 88px;
	float: right;
}

#section1 input {
	border-radius: 5px;
}

#section1 form {
	margin-top: 5%;
}

#section1 button {
	margin-top: 5%;
	border-radius: 5px;
	width: 90%;
}

.btn-danger {
	background: #f90000;
	border-radius: 5px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.02em;
}

.btn-info {
	background: #4bc2c5;
	border-radius: 5px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.02em;
	color: #ffffff;
}

#vector6 {
	position: absolute;
	bottom: 0%;
}

#vector7 {
	position: absolute;
	left: 86.4%;
	bottom: 28.9%;
	z-index: 0;
}

.form-container {
	position: relative;
}

.alert {
	z-index: 1;
}

/* profile */

.dropdown-menu {
	width: 190px;
}

.dropdown-menu .bot {
	width: 80px;
	height: 80px;
	margin-top: 8%;
	margin-left: 30%;
	margin-bottom: 5%;
}

.dropdown-menu a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.35);
	text-align: left;
	width: 90%;
	margin-left: 5%;
}

.profile-title {
	margin-top: 2%;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

.dropdown-menu a {
	background-color: #4bc2c5;
}

/* password */

#Password .modal-content {
	width: 80%;
	background: #ffffff;
	border-radius: 10px;
	padding-bottom: 5%;
}

.form-group {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 2%;
}

#Password .form-group .btn {
	margin-left: 10%;
	width: 80%;
}

.form-group .btn-info {
	background: #4bc2c5 !important;
	border-radius: 5px;
	margin-top: 5%;
}

.form-group .btn-outline-danger {
	border-radius: 5px;
	margin-top: 5%;
}

#tittle-password {
	margin-top: 5%;
	margin-bottom: 10%;
}

#Password input,
.tittle {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	color: #ababab;
}

.tittle #a-item {
	color: #4bc2c5;
}

/* Delete */
#DeleteAccount .modal-content {
	transform: translate(0%, 100%);
}

@media screen and (max-width: 767px) {
	#section1 {
		width: 90%;
		padding: 3em 1em 3em 1em;
	}

	#section1 img {
		float: left;
	}
}

@media screen and (max-width: 1024px) {
	#vector6,
	#vector7 {
		display: none;
	}
}
