@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



#header {
	margin-top: 2%;
	margin-bottom: 5%;
}

#Telyu-navbar {
	color: #4BC2C5;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	margin: 0;
	padding: 0;
}

#Pharmacy-navbar {
	font-family: Nunito Sans;
	font-style: normal;
	font-size: 24px;
	font-weight: lighter;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: black;
	margin: 0;
}

#Telyu {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: #4BC2C5;
	text-decoration: none;
}

#pharmacy {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: black;
}




.form-group {
	margin: 0;
}

.form-container {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 65%;
	margin-left: 20%;
	position: relative;
}

#top {
	padding-top: 5%;
}

h1 {
	margin-top: 0;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.01em;
	color: #000000;
}


.form-group input {
	width: 80%;
	margin-left: 11%;
}

label {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #ABABAB;
	margin-left: 11%;
}

button {
	margin-top: 5%;
	width: 80%;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	margin-left: 2%;
	background: #4BC2C5 !important;
	border-radius: 5px;
}

#orang {
	position: absolute;
	/* width: 70%; */
	left: 30%;
	display: flex;
}


#vector1 {
	position: absolute;
	top: 46%;
	left: 0%;
	width: 39%;
	height: auto;
}


#vector2 {
	position: absolute;
	right: 0%;
	bottom: 32%;
}

p,
span {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #ABABAB;
}

#a {
	text-decoration: none;
}

#footer {
	padding-bottom: 3%;
}

@media screen and (max-width: 767px) {
	#vector1 {
		display: none;
	}

	#vector2 {
		display: none;
	}

	#orang {
		display: none;
	}

	.form-container {
		width: 150%;
		left: 15%;
	}
}
