@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
	position: relative;
}

#header {
	margin-top: 2%;
	margin-bottom: 5%;
}

#Telyu-navbar {
	color: #4bc2c5;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	margin: 0;
	padding: 0;
}

#Pharmacy-navbar {
	font-family: Nunito Sans;
	font-style: normal;
	font-size: 24px;
	font-weight: lighter;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: black;
	margin: 0;
}

#Telyu {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: #4bc2c5;
	text-decoration: none;
}

#pharmacy {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	color: black;
}

.form-group {
	margin: 0;
}

.form-container {
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 70%;
	margin-left: 20%;
	position: relative;
}

#top {
	padding-top: 5%;
}

h1 {
	margin-top: 0;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.01em;
	color: #000000;
}

.form-group input {
	width: 80%;
	margin-left: 11%;
	margin-top: 0%;
}

label {
	margin: 0%;
}

label {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #ababab;
	margin-left: 11%;
}

.btn-primary {
	margin-top: 5px;
	width: 80%;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	margin-left: 2%;
	background: #4bc2c5 !important;
	border-radius: 5px;
}

#orang {
	position: absolute;
	width: 500px;
	left: 20%;
	display: flex;
	height: auto;
	top: 5%;
}

#vector1 {
	display: flex;
	position: absolute;
	top: 44%;
	left: 0%;
	height: auto;
}

#vector2 {
	position: absolute;
	right: 0%;
	bottom: 34.5%;
	height: auto;
}

p,
span {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #ababab;
}

#a {
	text-decoration: none;
}

#footer {
	padding-bottom: 3%;
}

@media screen and (max-width: 767px) {
	#vector1 {
		display: none;
	}

	#vector2 {
		display: none;
	}

	#orang {
		display: none;
	}

	.form-container {
		width: 150%;
		left: 15%;
	}
}
